main{
    margin-top: 100px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.header{
    font-weight: 800;
    font-size: 80px;
    color: linear-gradient(to right, red , yellow);
}



