@media (max-width: 500px) {
    .header{
        font-size: 60px;
    }

    .form{
        .cep{
            width: 240px;
        }
    }

    .inform{
        ul{
            width: 340px;
        }
    }
}